body {
  background: no-repeat url("content/font1.jpeg");
  background-position: center;
}

.offcanvas-body > .navbar-nav .nav-item:hover {
  color: blue;
}

.navbar-nav .navbar-link:hover {
  color: blue;
  transition: all 0.4s;
}

.hovernavlink:hover {
  color: red;
}

h1 {
  color: red;
}
